asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.5
django-autoslug==1.9.9
django-extensions==3.2.3
idna==3.10
mysqlclient==2.2.7
pillow==11.1.0
python-decouple==3.8
razorpay==1.4.2
requests==2.32.3
setuptools==75.8.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
