.account-list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.account-list-heading {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.create-account {
    text-align: right;
    margin-bottom: 20px;
}

.btn-create {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ececec;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-create:hover {
    background-color: #0056b3;
}

.account-list {
    list-style: none;
    padding: 0;
}

.account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.account-details {
    font-size: 1rem;
    color: #555;
}

.account-actions a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}
