{% extends 'base.html' %}
{% load static %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button name="action" value="approve">Approve</button>
                <button name="action" value="deactivate">Deactivate</button>
                <button name="action" value="delete">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}