{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<h2>Welcome, {{ user.username }}!</h2>

<p>What would you like to do next?</p>
<ul>
    <li><a href="{% url 'account_details' %}">Go to Account Settings</a></li>
    <li><a href="{% url 'make_transaction' %}">Make a Transaction</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

{% endblock %}