{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/Make_transaction.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Make a Transaction</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="transaction_type">Transaction Type:</label>
        <select name="transaction_type" required>
            <option value="Deposit">Deposit</option>
            <option value="Withdrawal">Withdrawal</option>
            <option value="Transfer">Transfer</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
